/* EXTJS */

.x-tool-image {
    overflow: hidden;
    width: 16px;
    height: 16px;
    background-image: url(images/tools/tool-sprites.png);
    margin: 0 0 0 -2px; /* fixes the margin here to avoid a minor display problem when using the neptune theme */
}

/* APPLICATION */

#app-header-title {
	color : white;
	font-size : 20px;
	padding : 15px 10px 10px 31px;
}

/* ICONS */

.icon-install {
    background-image: url(../icons/set2/download.png) !important;
/*    background-image: url(../icons/set2/gear-2-icon.png) !important;*/
}

.icon-update {
    background-image: url(../icons/set2/refresh-icon.png) !important;
}

.icon-uninstall {
    background-image: url(../icons/set2/circlex.png) !important;
}

.icon-buy {
    background-image: url(../icons/set2/pricetag-icon.png) !important;
}

.icon-comment {
    background-image: url(../icons/set2/chat-2-icon.png) !important;
}

.icon-share {
    background-image: url(../icons/set2/network-icon.png) !important;
}

.icon-coffee {
    background-image: url(../icons/set2/coffee-icon.png) !important;
}

.icon-flags {
    background-image: url(../icons/set2/flags-icon.png) !important;
}

.icon-gear {
    background-image: url(../icons/set2/gear-icon.png) !important;
}

.icon-inbox {
    background-image: url(../icons/set2/inbox-icon.png) !important;
}

.icon-walk {
    background-image: url(../icons/set2/walk-icon.png) !important;
}

.icon-weather {
    background-image: url(../icons/set2/weather-icon.png) !important;
}

.icon-navigation {
    background-image: url(../icons/set2/navigation-icon.png) !important;
}

.icon-user {
    background-image: url(../icons/set2/user-icon.png) !important;
}

/* GENERIC */

.wrapper {
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
  -moz-box-shadow:    0px 0px 8px rgba(0,0,0,0.3);
  box-shadow:         0px 0px 8px rgba(0,0,0,0.3);
  position: relative;
  z-index: 90;
}


/* THUMBNAIL */

.thumb-wrap {
	height : 200px;
	width : 150px;
	margin : 5px;
	padding : 5px;
	border-style : solid;
	border-color : LightGray;
	border-width : 1px;
/*	
	box-shadow: 2px 2px 2px #AAAAAA;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	-khtml-border-radius: 4px;
*/
	
	font-family: "Roboto", Arial, Helvetica, sans-serif;
	display : inline-block;
}

div .appName {
	display : block;
	color: #888;
	font-size: 15px;
	line-height: 18px;
	overflow : hidden;
	font-weight: bold;
	white-space: nowrap;
	position: relative;
}

.appName .paragraph-end {
	background-image: -webkit-gradient(linear,left top,right top,color-stop(0%,rgba(255,255,255,0)),color-stop(100%,rgba(255,255,255,1)));
	background-image: -webkit-linear-gradient(left,rgba(255,255,255,0),rgba(255,255,255,1));
	background-image: -moz-linear-gradient(left,rgba(255,255,255,0),rgba(255,255,255,1));
	background-image: -ms-linear-gradient(left,rgba(255,255,255,0),rgba(255,255,255,1));
	background-image: -o-linear-gradient(left,rgba(255,255,255,0),rgba(255,255,255,1));
	background: linear-gradient(to right,rgba(255,255,255,0),rgba(255,255,255,1));
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1,StartColorStr='#00ffffff',EndColorStr='#ffffff');
	bottom: 0;
	height: 25px;
	max-height: 100%;
	position: absolute;
	right: 0;
	width: 60px;
}

div .appAuthor {
	display : block;
	color: #AAA;
	font-size: 13px;
	line-height: 15px;
	overflow : hidden;
	white-space: nowrap;
}

div .cost {
	float : right;
	color : Green;
}

div .modulePrivacy {
	float : right;
	width : 32px;
	height: 32px;
	margin-top : -32px;
}

.private-module {
    background-image: url(../icons/set2/lock-icon.png) !important;
}

.thumb img {
	display : block;
	margin : 5px auto 5px auto;
	width : 128px;
	max-height: 128px;
}

.thumb-wrap .buttons {
  overflow: hidden;
  position: absolute;
  top: 10px;
  left: 10px;
  height: 32px;
  width : 100%;
  opacity : 0;
}

.thumb-wrap .buttons .button-icon {
	width : 32px;
	height : 32px;
	display : inline-block;
	background-position: center;
	background-repeat: no-repeat;
}

.thumb-wrap.x-item-selected {
/*	background-color: #ffffe3;*/
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	border: 3px solid #157fcc;	
}

/* STAR RATING */

.star-rating {
	background-image: url(../icons/star-empty.png) !important;
	width : 65px;
	height : 14px;
	border: 0;
	margin: 0;
}

.star-rating .current-rating {
	background-image: url(../icons/star.png) !important;
	height : 14px;
	float: left;
}

/* DETAILS */

.module-details-wrapper {
	font-family: "Roboto", Arial, Helvetica, sans-serif;
	padding : 5px;
}

.module-details-wrapper .presentation {
	border-radius: 5px;
	-webkit-box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
	-moz-box-shadow:    0px 0px 8px rgba(0,0,0,0.3);
	box-shadow:         0px 0px 8px rgba(0,0,0,0.3);
	position: relative;
	z-index: 90;
	background-color: #F5F5F5; /*#FFD868;*/
	padding: 5px;
}

.module-details-wrapper .presentation .appLogo {
	float : right;
	max-width : 150px;
}

.module-details-wrapper .presentation .latestVersion {
	margin: 5px;
	color: #888;
	font-weight: bold;
	font-style: italic;
	font-size: 12px;
}

.module-details-wrapper .clear {
	clear : both;
	display : block;
}

.module-details-wrapper .title {
	font-size: 18px;
	line-height: 20px;
	font-weight: bold;
	color: #888;
}


.module-details-wrapper h1 {
	padding: 20px 0px 7px 0px;
	font-size: 18px;
	font-weight: bold;
	color: #157fcc;
}

.screenshot-images img {
	max-width : 150px;
	
	border-radius: 5px;
	-webkit-box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
	-moz-box-shadow:    0px 0px 8px rgba(0,0,0,0.3);
	box-shadow:         0px 0px 8px rgba(0,0,0,0.3);
	position: relative;
	z-index: 90;

/*	
	-webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
*/    
    border: 0;
    margin : 5px;
}

.tags{
	margin:0;
	padding:0;
	position:absolute;
	right:24px;
	bottom:-12px;
	list-style:none;
}

.tags li, .tags a{
	float:left;
	height:24px;
	line-height:24px;
	position:relative;
	font-size:11px;
}

.tags a{
	margin-left:20px;
	padding:0 10px 0 12px;
	background:#0089e0;
	color:#fff;
	text-decoration:none;
	-moz-border-radius-bottomright:4px;
	-webkit-border-bottom-right-radius:4px;	
	border-bottom-right-radius:4px;
	-moz-border-radius-topright:4px;
	-webkit-border-top-right-radius:4px;	
	border-top-right-radius:4px;	
}

.tags a:before{
	content:"";
	float:left;
	position:absolute;
	top:0;
	left:-12px;
	width:0;
	height:0;
	border-color:transparent #0089e0 transparent transparent;
	border-style:solid;
	border-width:12px 12px 12px 0;		
}

.tags a:after{
	content:"";
	position:absolute;
	top:10px;
	left:0;
	float:left;
	width:4px;
	height:4px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	background:#fff;
	-moz-box-shadow:-1px -1px 2px #004977;
	-webkit-box-shadow:-1px -1px 2px #004977;
	box-shadow:-1px -1px 2px #004977;
} 




.categories{
	margin: 2px 0;
	padding: 2px 0;
	position:absolute;
	right:24px;
	top:-12px;
	list-style:none;
}

.categories li, .categories a{
	float:left;
	height:24px;
	line-height:24px;
	position:relative;
	font-size:11px;
}

.categories a{
	margin-left:20px;
	padding:0 10px 0 12px;
	background:#8EBF45;
	color:#fff;
	text-decoration:none;
	-moz-border-radius: 4px;
	-webkit-border-radius:4px;	
	border-radius:4px;
}

.comments .comment {
	position : relative;
}

.comments .avatar img {
	float : right;
}

.comments .author {
	font-size: 14px;
	padding-bottom : 5px;
	color : #15498B;
}

.comments .published {
	font-style : italic; 
	display : block; 
	padding-top : 5px;
}

.comments .clear {
	padding-bottom: 12px;
}


/* RIBBON*/

.ribbon-wrapper {
  width: 85px;
  height: 88px;
  overflow: hidden;
  position: absolute;
  top: -3px;
  right: -3px;
}

.ribbon-installed {
  font: bold 13px Sans-Serif;
}

.ribbon {
  font: bold 15px Sans-Serif;
  text-align: center;
  text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;
  -webkit-transform: rotate(45deg);
  -moz-transform:    rotate(45deg);
  -ms-transform:     rotate(45deg);
  -o-transform:      rotate(45deg);
  position: relative;
  padding: 7px 0;
  left: -5px;
  top: 15px;
  width: 120px;
  color: #6a6340;
  -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
  -moz-box-shadow:    0px 0px 3px rgba(0,0,0,0.3);
  box-shadow:         0px 0px 3px rgba(0,0,0,0.3);
}

.ribbon-green {
  color: #333;
  background-color: #BFDC7A;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#BFDC7A), to(#8EBF45)); 
  background-image: -webkit-linear-gradient(top, #BFDC7A, #8EBF45); 
  background-image:    -moz-linear-gradient(top, #BFDC7A, #8EBF45); 
  background-image:     -ms-linear-gradient(top, #BFDC7A, #8EBF45); 
  background-image:      -o-linear-gradient(top, #BFDC7A, #8EBF45); 
}

.ribbon-red {
    color: white;
    background-color: #BFDC7A;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#990000), to(#cc0000));
    background-image: -webkit-linear-gradient(top, #990000, #cc0000);
    background-image: -moz-linear-gradient(top, #990000, #cc0000);
    background-image: -ms-linear-gradient(top, #990000, #cc0000);
    background-image: -o-linear-gradient(top, #990000, #cc0000);
}

.ribbon:before, .ribbon:after {
  content: "";
  border-left:  3px solid transparent;
  border-right: 3px solid transparent;
  position:absolute;
  bottom: -3px;
}

.ribbon-green:before, .ribbon-green:after {
  border-top:   3px solid #6e8900;   
}

.ribbon-red:before, .ribbon-red:after {
    border-top: 3px solid #900;
}

.ribbon:before {
  left: 0;
}
.ribbon:after {
  right: 0;
}​


/* OTHERS */

label.installation-state-label {
	font-size: 16px;
	line-height: 18px;
	overflow : hidden;
	font-weight: 300;
	white-space: nowrap;
}

.mainfilterbox input {
	border-radius: 10px;
	-webkit-box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
	-moz-box-shadow:    0px 0px 8px rgba(0,0,0,0.3);
	box-shadow:         0px 0px 8px rgba(0,0,0,0.3);
	background-image: url(../icons/search-trigger.png);
	background-repeat: no-repeat;
	padding: 0px 0px 0px 22px;
}

.userbuttonmenu .x-btn-inner {
	font-size: 14px;
}
